<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="punkt_1_cgi_handler" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\DB\Lab3\punkt_1\punkt_1\Debug\punkt_1.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
