<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>punkt_4_servlet</servlet-name>
        <servlet-class>org.example.servlets.punkt_4_servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>punkt_4_servlet</servlet-name>
        <url-pattern>/4Servlet</url-pattern>
    </servlet-mapping>
</web-app>